<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1>Hello, {{ username }}!</h1>
      <p>You are logged in as a {{ role }}.</p>
      <a href="/user_dashboard/" class="btn btn-primary"
        >Go to Admin Dashboard</a
      >
    </div>
  </body>
</html>
